#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2em 20rem;
}

.zero {
  grid-column: span 2;
}

.display {
  display: flex;
  margin: 0;
  grid-column: span 4;
  justify-content: end;
}
