#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2em 15rem;
  gap: 10px;
}

.output {
  grid-column: span 4;
}

.delete {
  grid-column: span 2;
  margin-bottom: 20px;
}

.clear {
  grid-column: span 2;
  margin-bottom: 20px;
}

.now {
  display: flex;
  justify-content: end;
}

.previous {
  display: flex;
  justify-content: end;
}
